<div class="container">

  <div class="row">

    <div class="col-md-12">


      <div class="hero-container">

        <div class="hero-content wow fadeIn">

          <div style="padding: 20px 0px 0px 0px;">
            <h2 class="text-center">Falcon: A Wide-and-deep Onboard Active Vision System</h2>
          </div>
          <div style="padding: 10px 0px 0px 0px;">
            <div style="text-align:center;font-size:14pt;">
              <div style="padding: 5px 0px 5px 0px">
                <a href="http://www.hfr.iis.u-tokyo.ac.jp/members/hirano/index-e.html">Masahiro Hirano<sup>&#8224</sup></a>,
                <a href="http://www.hfr.iis.u-tokyo.ac.jp/members/yamakawa/index-e.html">Yuji Yamakawa<sup>&#8224</sup></a>
              </div>
              <div style="padding: 5px 0px 5px 0px">
                <span><sup>&#8224</sup> The University of Tokyo</span>
              </div>
              <div style="padding: 5px 0px 5px 0px">
                <div class="venue text-center"><b>IROS 2023</b></div>
              </div>
            </div>
          </div>

          <div class="hero-buttons">

            {% if site.twitter_username != '' %}
              <a href="https://link-to-arxiv/"><button class="btn btn-default btn-lg"><i class="fa fa-paperclip fa-lg"></i>Paper</button></a>
            {% endif %}
            {% if site.github_username != '' %}
              <a href="https://link-to-youtube/"><button class="btn btn-default btn-lg"><i class="fa fa-youtube-play fa-lg"></i>YouTube</button></a>
            {% endif %}

          </div>

          <br>
          <div style="width:75%;margin-left:auto;margin-right:auto;">
          <img class="img-responsive" src="./res/concept.png" title="title">
          </div>
          <br>

          <div class="section">
            <h3>Abstract</h3>
            <hr>
            <p>The tradeoff between the field-of-view and resolution, of conventional on-board vision systems is primarily due to their fixed optical components. 
              To arrive at an optimal solution, we propose a novel active vision system, called <b><i>Falcon</i></b>, 
              that includes an electric zoom lens attached to a high-speed camera with a pair of galvanometer mirrors. 
              This system enables high-resolution imagery of an object moving over a wide range, from near to far.
              To ensure accurate calibration of the Falcon, we propose a new mapping-based calibration method using external cameras aside.
              We also present a robust and lightweight visual feedback method that utilizes mapping-based calibration for object tracking.
              We successfully demonstrated continuous and high-resolution imaging of a curved mirror on public roads while the vehicle was in motion.
            </p>
          </div>
          <br>

          <div class="section">
            <h3>Mechanism of Falcon</h3>
            <hr />
            <p>The Falcon system comprises a dual-axis galvanometer mirror and an electrically controllable zoom lens equipped
              with a high-speed camera (internal camera). As shown below, the optical axis of the internal camera was carefully
              aligned to hit the center of the first mirror and is parallel to the axis of the second mirror. By changing its gaze
              direction through a pair of reflections from the fast-tilting mirrors, the internal camera observes the foreground
              scene with variable zoom ratio. </p>
            <!-- falcon-in-motion -->
            <div class="row align-items-center">
              <div class="col justify-content-center text-center">
                <video width="60%" playsinline="" autoplay="" loop="" preload="" muted="">
                  <source src="./res/falcon-in-motion.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              </div>
            </div>
            <br>
            <p>In addition to the internal camera (800&#215;600), two wide-angle, high-resolution (2880&#215;1860) cameras
                (external cameras) were mounted on the Falcon system. These cameras observe the foreground scene to locate areas
                in environments where close observations are required.</p>
            <div style="width:75%;margin-left:auto;margin-right:auto;">
              <img class="img-responsive" src="./res/prototype.png" title="title">
            </div>
          </div>
          <br>

          <div class="section">
            <h3>Demo</h3>
            <hr />
            <p>Imagery by the Falcon and the external camera.</p>
            <div style="width:100%;margin-left:auto;margin-right:auto;">
              <img class="img-responsive" src="./res/curve-mirror-tracking.png" title="title">
            </div>
            <br>
            <p>Side-by-side comparison with a cropped image by a static, high-resolution camera.</p>
            <div style="width:75%;margin-left:auto;margin-right:auto;">
              <img class="img-responsive" src="./res/comparison.png" title="title">
            </div>
          </div>
          <br>
          
          <div class="section">
            <h3>Video</h3>
            <hr />
            <iframe class="youtube-video" src="https://www.youtube.com/embed/5kW0RtcJZC8" title="YouTube video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          
          <div class="section">
            <h3>Citation</h3>
            <hr />
            <div style="text-align:left;font-size:8px;">
              <pre><code>
@inproceedings{hirano2023falcon,
  title={Falcon: A Wide-and-deep Onboard Active Vision System},
  author={Masahiro Hirano, Yuji Yamakawa},
  booktitle={Proceedings of the IEEE/RSJ International Conference on Intelligent Robots and Systems (IROS)},
  year={2023}
}
                </code></pre>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>

</div>
